<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button
        menuId="1"
      ></ion-menu-button>
    </ion-buttons>
    <ion-title>
      My Collection
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item 
      [routerLink]="['/novel']"
      [queryParams]="{ linkToNovel: 'https://tl.rulate.ru/book/997' }">
      Новелла
    </ion-item>
    <ion-item 
      [routerLink]="['/novel']"
      [queryParams]="{ linkToNovel: 'https://tl.rulate.ru/book/17556' }">
      Новелла2
    </ion-item>
  </ion-list>
</ion-content>
