<ion-toolbar class="reader-mode-toolbar">
  <ion-buttons 
    class="buttons-container"
    slot="start">

    <ion-button
      *ngIf="prevLink"
      class="navigation navigation_left"
      routerLink="/chapter"
      [queryParams]="{ url: prevLink }">
      Пред
    </ion-button>

    <ion-menu-button class="navigation navigation_center"></ion-menu-button>

    <ion-button
      *ngIf="nextLink"
      class="navigation navigation_right"
      routerLink="/chapter"
      [queryParams]="{ url: nextLink }">
      След
    </ion-button>
  </ion-buttons>
</ion-toolbar>
