.buttons-container {
  width: 100%;
}

.navigation {
  position: absolute;
  top: auto;
  
  &_left {
    left: 0px;
  }

  &_center {
    left: 50%;
    transform: translateX(-50%);
  }

  &_right {
    right: 0px;
  }
}
