<ion-app>
  <ion-menu
    side="start"
    type="push"
    menuId="1">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Navigation</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item
          *ngFor="let page of pages"
          [routerLink]="page.href">
          {{ page.title }}
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet main></ion-router-outlet>
</ion-app>
