<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button
        menuId="1"
      ></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Search
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-group>
    <ion-item-divider>
      <ion-label>
        Поиск по сайту:
      </ion-label>
    </ion-item-divider>

    <ion-item (click)="handleSitePickerClick('https://tl.rulate.ru/search/?cat=2')">
      Tl.Rulate
    </ion-item>
  </ion-item-group>

  <ion-list *ngIf="list">
    <ion-item
      class="novel"
      *ngFor="let novel of list">
      
      <ion-grid class="item-content">
        <ion-row>
          <ion-col>
            <ion-label>
              <a 
                [routerLink]="['/novel']"
                [queryParams]="{ linkToNovel: novel.link }"
                class="novel__title">
                {{ novel.title }}
              </a>
            </ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <div class="novel-info__novel-image">
              <ion-img
                [src]="novel.imageSrc"
                [alt]="novel.title"
              ></ion-img>
            </div>
          </ion-col>

          <ion-col>
            <p
              *ngIf="novel.genres"
              class="novel-info__info">
              <span>Жанры:</span><br>
              <ng-template ngFor let-genre [ngForOf]="novel.genres">
                <span>
                  {{ genre.text }},
                </span>
              </ng-template>
            </p>

            <p
              *ngIf="novel.tags"
              class="novel-info__info">
              <span>Тэги:</span><br>
              <ng-template ngFor let-tag [ngForOf]="novel.tags">
                <span>
                  {{ tag.text }},
                </span>
              </ng-template>
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <ion-spinner
    *ngIf="isContentLoading"
    class="spinner"
    name="circles"
  ></ion-spinner>
</ion-content>
