.novel {
  flex-direction: column;

  &__title {
    display: block;
    width: 100%;
    white-space: normal;
  }
}

.item-content {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.novel-info {
  width: 100%;
  display: flex;

  &__novel-image {
    height: auto;
  }

  &__info {
    margin: 0 0 10px;
    font-size: 16px;

    span:first-child {
      font-weight: 600;
    }
  }
}