.chapter {
  &_muted {
    color: grey;
  }

  &_link {
    color: blue;
  }

  &__text {
    word-break: keep-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.page-title {
  font-size: 20px;
  margin: 15px 20px;
}

.novel-images {
  width: 90%;
}

.novel-info {
  margin: 0 20px;

  &__header {
    margin: 15px 0 0;
    font-size: 18px;
    font-weight: 600;
  }

  &__text {
    margin: 5px 0 0;
    display: block;
    font-size: 16px;
  }
}
