<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button [icon]="buttonIcon"></ion-back-button>
		</ion-buttons>

		<ion-buttons slot="end">
			<ion-menu-button menuId="1"></ion-menu-button>
		</ion-buttons>

		<ion-title>Novel</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content *ngIf="novel">
	<h1 class="page-title">
		{{ novel.title }}
	</h1>

	<ion-slides
		[options]="sliderOptions"
		class="novel-images">
		<ion-slide *ngFor="let src of novel.images">
			<img [src]="src">
		</ion-slide>
	</ion-slides>

	<div class="novel-info">
		<section *ngIf="novel?.description">
			<h2 class="novel-info__header">
				Описание:
			</h2>
	
			<ion-text
				*ngFor="let description of novel.description"
				class="novel-info__text">
				{{ description }}
			</ion-text>
		</section>

		<section *ngIf="novel?.reviews?.length > 0">
			<h2 class="novel-info__header">
				Рецензии:
			</h2>

			<ion-text
				*ngFor="let review of novel.reviews"
				class="novel-info__text">
				{{ review }}
			</ion-text>
		</section>
	</div>


	<div class="novel-info">
		<ion-list *ngIf="novel.chaptersList">
			<h2 class="novel-info__header">
				Главы:
			</h2>

			<ng-template ngFor let-chapter [ngForOf]="novel.chaptersList">
				<ion-item 
					*ngIf="chapter.isReadable"
					[routerLink]="['/chapter']" 
					[queryParams]="{ url: chapter.link }" 
					class="chapter chapter_link">
					<span class="chapter__text">
						{{ chapter.title }}
					</span>
				</ion-item>

				<ion-item 
					*ngIf="!chapter.isReadable" 
					class="chapter chapter_muted">
					<span class="chapter__text">
						{{ chapter.title }}
					</span>
				</ion-item>
			</ng-template>
		</ion-list>
	</div>
</ion-content>

<ion-spinner 
	*ngIf="isContentLoading" 
	class="spinner" 
	name="circles"
></ion-spinner>
